<h1>Tic Tac Toe</h1>
<div class="board">
  <div *ngFor="let row of board; let rowNo=index" class="row">
    <div *ngFor="let cell of row; let colNo=index" (click)="cellClicked(rowNo, colNo)" class="cell">
      <span class="marker" *ngIf="cell===0">X</span>
      <span class="marker" *ngIf="cell===1">O</span>
    </div>
  </div>
</div>
<div class="gameResults" *ngIf="winner===0">Winner: Human Player</div>
<div class="gameResults" *ngIf="winner===1">Winner: Bot Player</div>
<div class="gameResults" *ngIf="winner===2">Tied!</div>
<button class="restart" (click)="restart()">Restart</button>
